<a href="https://colab.research.google.com/github/allykurland/IST201-Spring2020/blob/master/FinalGroupProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Introduction:**

One of the most heavily affected industries due to the coronavirus is the movie and entertainment industry. For those reasons, we decided to revolve our project around a common activity we miss which is going to the movies. The operations of a cinema involve many transactions of information and that's where we started. Taking our own experiences of going to the cinema, we constructed what information must be stored and processed for the optimal movie experience. The way we got to our final ER Diagram was by thinking of what people, objects, and actions may be involved in going to the cinema. On top of this, we had to figure out how each of these relates to one another.

**ER Diagram Specifics:**

At the end of the day, cinemas cater to customers who must have a fun and efficient experience. In our ER diagram, we had customers have relationships with two other entities: ticket transactions and concession sales. The reason we did not have to have a customer relationship with the actual theatre room itself is because we assume that the theatre can only sell as many tickets as the amount of seats it has. This prevents what we call overbooking. As a result, we assume that if a ticket is bought for a certain movie in a certain room, then that seat is taken regardless if the person actually shows up or not. With our employees, we assume that the cinema only needs employees during showing times. If there is no movie, there will be no employee managing concessions ticket purchasing. For this reason, our employee entity is only connected to our movie entity.

**Scenario**:

Let’s say a customer decides to watch a movie and he wants to check the start time, run time, end time for a movie. He can easily do this. All we require is a simple query for the table ‘Movie’, that contains the movie ID. Now if he wants to check the ticket price, our tables provide a way to do that as well. A query would be written for both tables ‘Movie’ and ’Ticket ID’ as “Movie_ID” is a foreign key in the table ‘Ticket ID ‘ and a primary key in the table ‘Movie’. When he decides which movie and at what time and wants to make a purchase, he is able to do this as well. He is also able to purchase items available at the theater and be eligible for a concession. There are tables –‘Ticket Transactions’, ’Customer’, and ‘Concession Sales’ that not only allow the customer to see ticket price and make a payment through different methods, but also assign him a unique customer ID.
This database can also be used to check the employees on duty and the lengths of their shifts.
So in general, this table can be used to get all details possible required by a movie theater, for its customers or employees.


**How we created the database:** 

For this project, I first created the database “MovieTheater” followed by all six of the tables; Movie, Ticket Transaction, Theater, Employees, Concession Sales, and Customer. I made sure to drop the table if it already existed prior to creating each new table to avoid any errors or mix ups of information. Next, I populated each table with three values for each attribute. For example, the table “Employees” has a primary key followed by four more attributes. For that table, I input fifteen total values; three values for each of the five attributes, including the primary key. For the data itself, I tried to use pretty standard information such as for length of shift in the table “Employees”, I used numbers 4, 8, and 12, as those are the common lengths of shifts in minimum wage jobs in the U.S.

![alt text](https://raw.githubusercontent.com/hek5118/IST-210/master/final%20project1.png)

In [0]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [0]:
%%sql
sqlite:///MovieTheater.db

'Connected: @MovieTheater.db'

In [0]:
%%sql   
DROP TABLE IF EXISTS Movie;
CREATE TABLE Movie(MovieID text primary key, StartTime text, Runtime integer, EndTIme text, Title text, TicketID text , RoomNumber integer);

 * sqlite:///MovieTheater.db
Done.
Done.

[]

In [0]:
%%sql 
INSERT INTO Movie VALUES('273689','5:00 PM',60,'6:00','Jurassic Park','76349',2);
INSERT INTO Movie VALUES('736294','7:00 PM',75,'8:15','Pineapple Express','93826',1);
INSERT INTO Movie VALUES('928462','9:00 PM',90,'10:30','Perks of Being a Wallflower','57463',3);

 * sqlite:///MovieTheater.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
DROP TABLE IF EXISTS Ticket_Transaction;
CREATE TABLE Ticket_Transaction(TicketID text primary key, TicketPrice real, PaymentMethod text, Ticket_Amount integer, MovieID text, TheaterNumber integer);

 * sqlite:///MovieTheater.db
Done.
Done.

[]

In [0]:
%%sql
INSERT INTO Ticket_Transaction VALUES('1B34A',8.99,'Cash',1,'736294',3);
INSERT INTO Ticket_Transaction VALUES('13C5B',10.99,'Credit',2,'273689',2);
INSERT INTO Ticket_Transaction VALUES('2B45A',9.99,'Debit',3,'273689',2);

 * sqlite:///MovieTheater.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
DROP TABLE IF EXISTS Theater;
CREATE TABLE Theater(Theater_Number integer primary key, Number_Of_Seats integer, Room_size text, TicketAmount integer);

 * sqlite:///MovieTheater.db
Done.
Done.

[]

In [0]:
%%sql
INSERT INTO Theater VALUES(1,50,'medium',25);
INSERT INTO Theater VALUES(2,50,'medium',14);
INSERT INTO Theater VALUES(3,100,'large',70);

 * sqlite:///MovieTheater.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
DROP TABLE IF EXISTS Employees;
CREATE TABLE Employees(Employee_ID text primary key, FirstName text, LastName text, LengthOfShift integer, MovieID text);

 * sqlite:///MovieTheater.db
Done.
Done.

[]

In [0]:
%%sql
INSERT INTO Employees VALUES('1113','George','Smith',8,'273689');
INSERT INTO Employees VALUES('1212','Sandy','Jones',12,'928462');
INSERT INTO Employees VALUES('1311','Lisa','Song',4,'736294');

 * sqlite:///MovieTheater.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
DROP TABLE IF EXISTS Concession_Sales;
CREATE TABLE Concession_Sales(ConcessionID text primary key, AmountPurchase real, NumItems integer, PaymentMethod text);

 * sqlite:///MovieTheater.db
Done.
Done.

[]

In [0]:
%%sql
INSERT INTO Concession_Sales VALUES('12A',12.99,2,'credit');
INSERT INTO Concession_Sales VALUES('14D',32.04,4,'cash');
INSERT INTO Concession_Sales VALUES('3C',5.67,1,'debit');

 * sqlite:///MovieTheater.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [0]:
%%sql
DROP TABLE IF EXISTS Customer;
CREATE TABLE Customer(CustomerID text primary key, PaymentMethod text, Name text, Age integer, TicketID text, ConcessionID text);

 * sqlite:///MovieTheater.db
Done.
Done.

[]

In [0]:
%%sql
INSERT INTO Customer VALUES('6732','cash','Johnson',27,'1B34A','12A');
INSERT INTO Customer VALUES('8736','debit','Brennan',30,'2B45A','3C');
INSERT INTO Customer VALUES('2837','credit','Porter',17,'13C5B','12D');

 * sqlite:///MovieTheater.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

### 3 Queries

In [0]:
%%sql
SELECT COUNT(Theater_Number) from Theater;

 * sqlite:///MovieTheater.db
Done.

[(3,)]

Knowing the number of theaters in the building is important for the movie theater company.  This tells them how many movies they can show and at what times.  It is also important for ticket sales.  Knowing how many theaters and the number of seats in the theaters tells the box office just how many tickets it can sell for each movie.

In [0]:
%%sql
SELECT Min(LengthOfShift), Max(LengthOfShift) from Employees;

 * sqlite:///MovieTheater.db
Done.

[(4, 12)]

This query will help the movie theater better schedule its employees. Knowing how long each shift is can also tell them how big of a break to give each employee and for how long, as well as inform new employees about what to expect. Employees with longer shifts would need more breaks and possibly longer ones in order to get food, or even take a nap during their break.

In [0]:
%%sql
SELECT AVG(Age) from Customer;

 * sqlite:///MovieTheater.db
Done.

[(24.666666666666668,)]

It's important for the movie theater to know the average age of its customers, so they can better tailor their snacks, decorations, and advertisements around the theater to them.  These are the customers that are usually at the theater, so if the snacks and other items around the theater are more geared towards them, they would probably be more likely to spend more money.